*{
    margin: 0;
}
.product_container{
    width: 100%;
    height: 400px;
}

.allproducts{
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.allproducts::-webkit-scrollbar{
    display: none;
}
.product{
    min-width: 350px;
    width: 350px;
    height: 450px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0px 30px;
    box-shadow: rgba(153, 160, 167, 0.2) 0px 10px 24px;
}
.product img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.double{
    min-width: 350px;
    width: 350px;
    height: 450px;

}

.first{
    min-width: 350px;
    margin-bottom: 50px;
    width: 350px;
    border-radius: 10px;
    height: 200px;
    box-shadow: rgba(153, 160, 167, 0.2) 0px 10px 24px;
    background-color: #fff;
}
.second{
    min-width: 350px;
    width: 350px;
    border-radius: 10px;
    height: 200px;
    box-shadow: rgba(153, 160, 167, 0.2) 0px 10px 24px;
    background-color: #fff;
}